/*  Hero Section  */
#hero-section{
    width: 100vw;
    min-height: 90vh;    

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/home/hero-section.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.5rem;
}

/*  ABOUT  */

#about{
    width: 100%;
    max-width: 144rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 4rem 5rem;
}

.titulo-wrapper{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.info-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;

    margin-bottom: 3rem;
}

.foto-perfil{
    grid-area: 1/1/1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil-text{
    grid-area: 1/2/1/4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.services-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.4rem;

    padding: 4.8rem 1.2rem ;

    border-top: 0.1rem solid var(--secundario);
}

.service{
    padding: 0 1.4rem;
}

/*  Proyectos destacados  */
#destacados{
    width: 100%;
    max-width: 144rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 4.8rem;
    padding: 4.8rem ;

    border-top: 0.1rem solid var(--secundario);
}

.proyects-wrapper{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.8rem;
}

.proyect{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;

    padding: 2.4rem;
    border-radius: 2rem;
    box-shadow: 0 0 1.5rem var(--transparencia);
}

.img-wrapper{
    width:100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
    overflow: hidden;
}

.img-wrapper img{
    width: 100%t;
    height: 100%;
}

.info-proyect{
    width: fit-content;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    padding: 3.2rem 2.4rem;
    gap: 2.4rem;

    text-align: center;
}

.img1{
    grid-area: 1/1/2/3;
}

.info1{
    grid-area: 1/3/2/4;
    border-left: 0.1rem solid var(--secundario);
}

.info2{
    grid-area: 1/1/2/2;
    border-right: 0.1rem solid var(--secundario);
}

.img2{
    grid-area: 1/2/2/4;
}

.btn-proyect{
    margin-top: 1rem;
}

/* Proceso de trabajo */
#proceso{
    width: 100%;
    max-width: 144rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 4.8rem;
    padding: 6rem 4.8rem;

    border-top: 0.1rem solid var(--secundario);
}

.procesos-wrapper{
    display:flex;
    justify-content: center;
    align-items: center;

    gap: 2.4rem;
}

.proceso{
    display:flex;
    justify-content: center;
    align-items: center;

    gap: 0.8rem;
}

/* Stack */
#stack{
    width: 100%;
    max-width: 144rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 4.8rem;
    padding: 4.8rem ;

    border-top: 0.1rem solid var(--secundario);
}

.stack-wrapper{
    width: 100%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    gap: 2rem;
    padding: 0 2rem;
}

.stack{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.titulo-stack{
    width: 100%;
    min-height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--negro);
    
}

.etiquetas-wrapper{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 0.8rem;
    padding-top: 2rem;
    border-top: 0.1rem solid var(--secundario);
}

.etiqueta{    
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2.4rem;
    padding: 0.5rem 2.8rem 0.5rem 0.8rem ;
    background-color: var(--secundario);
    border-radius: 5rem;
}

.nombre-etiqueta p{
    color: var(--blanco);
}

.ia{
    justify-content: center;
    flex-direction: row;
}

.ia-icon{
    padding: 0.5rem;
}

.ai-description-wrapper{
    padding: 2rem 0 0 0;
    text-align: center;
}

.ai-description-wrapper p{
    line-height: 2rem;
}

/*  Contacto  */
#hero-contact{
    width: 100vw;
    min-height: 60.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/contacto/hero-section-contact.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 10;
}

.hero-small{
    justify-content: center;
    align-items: center;
}

#contact-section{
  max-width: 144rem;
  width: 100%;

  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  
  padding: 4rem 2rem;
  border-bottom: 0.1rem solid var(--secundario);
}

#contact-section h2{
    font-size: 3.5rem;
}

.form-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    gap: 2.4rem;
    padding: 2.4rem;
}

#contact-form{
    width: 100%;
}

.form-group input,
.form-group textarea{
    width: 100%;
    margin-bottom: 2.4rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-group input:focus,
.form-group textarea:focus{
    outline: none;
    border-bottom: 0.2rem solid var(--primario);
    box-shadow: 0 0.5rem 1rem var(--transparencia);
}

.cta-ws{
    padding: 2.4rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
}

.btn-cta{
    max-width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.5rem 2rem;
    
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--secundario);

    background-color: rgba(0, 0, 0, 0);
    border: 0.2rem solid var(--secundario);
    border-radius: 5rem;

    transition: all 0.3s ease-in-out;
    transform: scale(1);
}

.btn-cta:hover{
  background-color: var(--secundario);
  color: var(--blanco);
  transform: scale(1.05);
}

.btn-cta img{
  width: 2rem;
  margin-right: 1rem;
}

.cta-ws img{
  max-width: 100%;
  height: auto;
  border-radius: 2rem;
}



/*  Laptops  */
@media (max-width: 1200px){
    .services-wrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .img-wrapper img{
        width: 100%;
        height: auto;
    }
    
    .img1{
        grid-area: 1/1/2/2;

    }

    .info1{
        grid-area: 1/2/1/3;
    }

    .img2{
        grid-area: 1/2/1/3;
    }

    .info2{
        grid-area: 1/1/2/2;
    }

    .info-wrapper{
        grid-template-columns: 1fr 2fr;
    }

    .proyect{
        grid-template-columns: 1fr 1fr;
    }

    .procesos-wrapper{
        flex-wrap: wrap;
    }
}

@media (max-width: 1024px) {

  /* Stack */
.stack-wrapper{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

}


/*  Mobile  */
@media (max-width: 768px) { 
    
/* Hero */

.hero-tittle{
    font-size: 4.2rem;
    line-height: 5rem;
}

.hero-small h1{
    font-size: 4rem;
    text-align: center;
    line-height: 6.5rem;
}

.btn-wrapper{
    align-items: flex-start;
    gap: 1rem;
}

/*  About  */
.info-wrapper{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.services-wrapper{
    grid-template-columns: 1fr;
    gap: 3rem;
}

/*  Destacados  */
.proyect{
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.info1,
.info2{
    border: none;
}

.img2{
    order: -1;
}

.img-wrapper{
    width: 100%;
}

.img-wrapper img{
    width: 100%;
    height: auto;
}

/* Proceso */
.procesos-wrapper{
    flex-direction: column;
}

.arrow{
    display: none;
}

/* Stack */
.stack-wrapper{
    grid-template-columns: 1fr;
    gap: 3rem;
}

/* Contact */
#contact-section{
  width: 100%;
  grid-template-columns: 1fr;
  gap: 4rem;
}

.form-wrapper,
.cta-ws{
  padding: 0;
}
}