/* hero */
#hero-galery{
    width: 100vw;
    min-height: 60.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/galeria/hero-section-galery.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 10;
}

.hero-small{
    justify-content: center;
    align-items: center;
}

/* filters */
#filters-section{
    width: 144rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 0.1rem solid var(--secundario);
}

.filters-bar{
    padding: 2rem 0.8rem; 

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.6rem;
}

.etiqueta-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
    padding: 0.4rem 2.8rem 0.4rem 1.4rem;
    border: 0.1rem solid var(--secundario);
    border-radius: 5rem;

    background-color: transparent;
    color: var(--secundario);

    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-software{
    color: inherit;
}

.etiqueta-filtro svg{
    color: inherit;
    pointer-events: none;
}

.etiqueta-filtro svg path{
    stroke: currentColor;
}

.etiqueta-filtro p{
    color: currentColor;
    font-weight: 600;
}

.etiqueta-filtro:hover,
.etiqueta-filtro.active {
    background-color: var(--primario);
    border: 0.1rem solid var(--primario);
    color: var(--blanco);
}

.etiqueta-filtro.active{
    pointer-events: none;
    cursor: none;
}

/*  Juegos  */
.proyect-section{
    width: 144rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;    
    padding: 6.4rem 1.2rem;

    background-color: var(--blanco);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;

    z-index: 1;
}

.proyect-section.hidden {
    opacity: 0;
    transform: translateY(2rem);
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.tittle-wrapper{
    width: 100%;
    height: auto;

    padding: 0 8.8rem 3.2rem 8.8rem;
    border-bottom: 0.1rem solid var(--secundario);
}

.cards-wrapper{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 3.2rem;
}

.game-card{
    width: 60.5rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.img-card{
    width: 99%;
    height: fit-content;

    border-radius: 1rem;
    overflow: hidden;
}

.img-card img{
    width: 101%;
    height: auto;

    align-content: center;
}

.info-card{
    width: 99%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 0 1.2rem 0.8rem 1.2rem;
    gap: 2.4rem;
}

.tittle-card{
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid var(--negro);
}

.tittle-card h3{
    color: var(--negro);
}

.text-card{
    line-height: 2rem;
    min-height: 15rem;
}

.btn-wrapper{
    display: flex;
    gap: 1rem;
}

.btn-card{
    display: flex;
    gap: 1.2rem;
}

/*  UX / UI  */
.ux-card{
    width: 40.4rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.text-card-ux{
    line-height: 2rem;
    min-height: 2.5rem;
}

/*  Design  */

.design-card{
    width: 28rem;
    height: 28rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.design-card:hover{
    transform: scale(1.05);
}

/*  Motion  */
.motion-card{
    width: 60.5rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.text-card-motion{
    line-height: 2rem;
    min-height: 0.8rem;
}
