/* hero */
#hero-galery{
    width: 100vw;
    min-height: 60.8rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../img/galeria/hero-section-galery.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: 10;
}

.hero-small{
    justify-content: center;
    align-items: center;
}

/* filters */
#filters-section{
    width: 99%;
    max-width: 144rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-bottom: 0.1rem solid var(--secundario);
}

.filters-bar{
    padding: 2rem 0.8rem; 

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1.6rem;
}

.etiqueta-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2rem;
    padding: 0.4rem 2.8rem 0.4rem 1.4rem;
    border: 0.1rem solid var(--secundario);
    border-radius: 5rem;

    background-color: transparent;
    color: var(--secundario);

    cursor: pointer;
    transition: all 0.3s ease;
}

.icon-software{
    color: inherit;
}

.etiqueta-filtro svg{
    color: inherit;
    pointer-events: none;
}

.etiqueta-filtro svg path{
    stroke: currentColor;
}

.etiqueta-filtro p{
    color: currentColor;
    font-weight: 600;
}

.etiqueta-filtro:hover,
.etiqueta-filtro.active {
    background-color: var(--primario);
    border: 0.1rem solid var(--primario);
    color: var(--blanco);
}

.etiqueta-filtro.active{
    pointer-events: none;
    cursor: none;
}

/*  Juegos  */
.proyect-section{
    width: 99%;
    max-width: 144rem;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;    
    padding: 6.4rem 1.2rem;

    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;

    z-index: 1;
}

.proyect-section.hidden {
    opacity: 0;
    transform: translateY(2rem);
    pointer-events: none;
    position: absolute;
    visibility: hidden;
    z-index: -1;
}

.tittle-wrapper{
    width: 100%;
    height: auto;

    padding: 0 8.8rem 3.2rem 8.8rem;
    border-bottom: 0.1rem solid var(--secundario);
}

.cards-wrapper{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    gap: 3.2rem;
}

.game-card{
    width: 60.5rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.img-card{
    width: 99%;
    height: fit-content;

    border-radius: 1rem;
    overflow: hidden;
}

.img-card img{
    width: 101%;
    height: auto;

    align-content: center;
}

.info-card{
    width: 99%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 0 1.2rem 0.8rem 1.2rem;
    gap: 2.4rem;
}

.tittle-card{
    width: 100%;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid var(--negro);
}

.tittle-card h3{
    color: var(--negro);
}

.text-card{
    line-height: 2rem;
    min-height: 15rem;
}

.btn-wrapper{
    display: flex;
    gap: 1rem;
}

.btn-card{
    display: flex;
    gap: 1.2rem;
}

/*  UX / UI  */
.ux-card{
    width: 40.4rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.text-card-ux{
    line-height: 2rem;
    min-height: 2.5rem;
}

/*  Design  */

.design-card{
    width: 28rem;
    height: 28rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);

    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.design-card:hover{
    transform: scale(1.05);
}

.design-modal{
    position: fixed;
    inset: 0;

    background: var(--transparencia2);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    z-index: 99;
}

.design-modal.active{
    opacity: 1;
    visibility: visible;
}

.design-modal-box{
    position: relative;

    max-width: 90vw;
    max-height: 90vh;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    border-radius: 2rem;

    background: transparent;

    transform: scale(1);
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.design-modal-box.fade-out{
    transform: scale(0.9);
    opacity: 0;
}


.design-modal.active .design-modal-box{
    transform: scale(1);
}

.design-modal-img{
    max-width: 90vw;
    max-height: 90vh;

    width: auto;
    height: auto;

    object-fit: contain;
    display: block;
    border-radius: 2rem;
}

.nav-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0);
    border: none;
    color: var(--gris2);
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: color 0.2s ease;
}

.nav-arrow:hover{
    color: var(--terciario);
}

.nav-arrow.left{
    left: 1rem;
}

.nav-arrow.right{
    right: 1rem;
}

.design-modal-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 10%;
    align-content: center;

    padding: clamp(1.5rem, 2vw, 2rem);

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0)
    );

    pointer-events: none;
}

.design-modal-overlay p{
    color: var(--blanco);
    line-height: 2.2rem;
    text-shadow: 0.1rem 0.1rem 0 var(--transparencia);
}

/*  Motion  */
.motion-card{
    width: 60.5rem;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 2.4rem;
    padding: 1.2rem;
    background-color: var(--blanco);
    border-radius: 2rem;

    box-shadow: 0 0 1.5rem var(--transparencia);
}

.text-card-motion{
    line-height: 2rem;
    height: 7rem;
    min-height: 7rem;
}

.motion-thumb{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 1.2rem;
}

.motion-thumb img{
    width: 100%;
    display: block;
}

.motion-overlay{
    position: absolute;
    inset: 0;
    background: var(--transparencia2);
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.motion-thumb:hover .motion-overlay{
    opacity: 1;
}

.play-icon{
    font-size: 3rem;
    color: var(--blanco);
    transform: scale(0.8);
    transition: transform 0.3s ease;
}

.motion-thumb:hover .play-icon{
    transform: scale(1);
}

.video-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.85);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
}

.video-modal.active{
    opacity: 1;
    visibility: visible;
}

.video-modal-box{
    position: relative;
    width: 90%;
    max-width: 110rem;
    max-height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.video-modal.active .video-modal-box{
    transform: scale(1);
}

.video-wrapper{
    max-width: 100%;
    max-height: 85vh;
}

.video-wrapper video{
    max-width: 100%;
    max-height: 85vh;
    width: auto;
    height: auto;
    display: block;
    
    border-radius: 1.5rem;
}

.close-video{
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
    min-height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--primario);
    border-radius: 2rem;

    position: absolute;
    top: -0.5rem;
    right: -0.5rem;

    font-size: 2.5rem;
    color: var(--blanco);
    cursor: pointer;

    transition: transform 0.2s ease, background 0.2s ease;
}

.close-video:hover{
    transform: scale(1.05);
    background: var(--terciario);
}

@media (max-width: 768px) {
  /*  Filtros  */
  .filters-bar{
      gap: 0.8rem;
  }

  .etiqueta-filtro{
      padding: 0.4rem 0.4rem 0.4rem 0.4rem;;
  }

  .nombre-software{
      display: none;
  }

  /* Titulos Seccion */
   .tittle-wrapper {
      padding: 0 2rem 2rem 2rem;
      text-align: center;
  }

  /* Juegos y Motion */
  .game-card,
  .motion-card {
      width: 100%;
      gap: 1.6rem;
  }

  .cards-wrapper {
      flex-direction: column;
      gap: 2.4rem;
  }

  /* UX */
  .ux-card {
      width: 100%;
  }

  /*  Diseño  */
  .cards-wrapper-mobile{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.2rem;
  }

  .design-card{
      width: 100%;
      height: unset;
      aspect-ratio: 1 / 1;
      padding: 0.8rem;
      overflow: hidden;
      border-radius: 1.5rem;
  }

  .design-card .img-card{
      width: 100%;
      height: 100%;
  }

  .design-card .img-card img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
  }

  /* Motion */
  .video-modal-box {
      width: 95%;
      max-width: none;
  }

  .video-wrapper video {
      width: 100%;
      height: auto;
  }
}